.banner{
    margin: 20px;
      display: flex;
      background-color: black;
      justify-content: space-between;
      padding: 10px;
  }
  #month, #find, #chon{
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 16px;
    border-radius: 10px;
  }
  #customDate {
    position: fixed;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
    margin-left: 375px;
    margin-top: 40px;
    border-radius: 5px;
    display: none;
    z-index: 1;
}

#customDate label {
    display: block;
    margin-bottom: 5px;
    font-size: 13px;
}

#customDate input[type="date"],
#customDate input[type="submit"] {
    padding: 5px;
    margin-bottom: 10px;
}

  option:focus {
    outline: none;
    border-color: #3498db;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
  }
  option {
    background-color: #fff;
    color: #333;
  }
  
  option:hover {
    background-color: #f2f2f2;
    color: #333;
  }
  
  option:checked {
    background-color: #3498db;
    color: #fff;
  }
  .chartsBx{
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
  }
  .chartsBx .chart{
    position: relative;
    background: #fff;
    margin: 10px;
    padding: 20px;
    width: 48%;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    border: 1px solid var(--blue);
  }
  .order-table {
    position: relative;
    background: white;
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    
  }
  .order-table{
    padding: 30px;
  }
 
  #xoanguoidung{
    padding: 4px;
  color: rgb(255, 0, 0);
 
  }
  #suanguoidung{
    padding: 4px;
 
  color: rgb(10, 171, 58);
 
  
  }
 
  .pagination {
    padding: 10px;
    text-align: center;
    list-style: none;
    font-weight: lighter;
  }
  
  .pagination li {
    padding: 20px;
    display: inline-block;
    margin: 20px 10px;
    cursor: pointer;
  }
  
  .pagination .hientai {
    border-bottom: 3px solid rgb(0, 0, 0);
  }
  
  .pagination li:not(.hientai):hover {
    background-color: rgb(196, 195, 195);
    border-radius: 10px;
  }

  .details .recentOrders table tr td:last-child {
    text-align: center;
  }
  .details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    text-align: center;
    padding: 20px;
    margin-left: 5px;
}
