.user {
  font-family: Arial, Helvetica, sans-serif;

}

.banner {
  margin: 20px;
  display: flex;
  background-color: white;
  justify-content: space-between;
  padding: 10px;
  border-radius: 20px;

}

.banner #adduser {
  padding: 10px 20px;
  font-size: 16px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 25px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.banner #adduser:hover {
  background-color: rgb(194, 194, 194);
  color: white;
  transform: translateY(-3px);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.user-table img {
  width: 5px;
  /* Thay đổi giá trị này */
  height: 100px;

}

.boxsuauser {
  height: 570px;
  width: 530px;
  display: none;
  position: fixed;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  padding: 10px 10px 0px 10px;
  border: 2px solid grey;
  margin-top: 50px;
  margin-left: 240px;
  z-index: 1001;
  overflow: auto;
}
.boxsuauser button
{
  margin-left: 450px;
  border: 2px solid grey;
  font-size: larger;
  border-radius: 100%;
  width: 30px; /* Độ rộng của nút tròn */
  height: 30px;
  cursor: pointer;

}
.boxsuauser h2 {
  text-align: center;
  padding: 10px;
}

.boxsuauser .form-group {
  margin-bottom: 15px;

}


.boxsuauser label {
  display: block;
  font-weight: bold;
}

.boxsuauser input[type="text"],
.boxsuauser input[type="email"],
.boxsuauser input[type="password"] {
  width: 100%;
  height: 35px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
}
textarea {
  width: 100%; 
  height: 130px; 
  resize: vertical; 
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

.boxsuauser .form-group textarea
{
  margin-top: 5px;
 font-size: 14px;
 padding: 10px; /* Điều chỉnh padding để thêm khoảng trắng giữa văn bản và viền */
 border: 1px solid #ccc; /* Thêm viền cho textarea */
 border-radius: 5px; /* Tùy chọn: Thêm góc cong cho textarea */

}

.edit-button {
  padding: 4px;
  background-color: green;
  color: white;
  border-radius: 4px;
  border-color: green;
  cursor: pointer;
}

.delete-button {
  padding: 4px;
  background-color: red;
  color: white;
  border-radius: 4px;
  border-color: red;
  cursor: pointer;
}

#goi {
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 14px;
  border-radius: 10px;
}
.finder{
  text-align: left;
  justify-content: space-between;


}
.finder select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.finder select option {
  background-color: #fff;
  color: #333;
}
#option{
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 16px;
  border-radius: 10px;
}
option:focus {
  outline: none;
  border-color: #3498db;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}


option {
  background-color: #fff;
  color: #333;
}

option:hover {
  background-color: #f2f2f2;
  color: #333;
}

option:checked {
  background-color: #3498db;
  color: #fff;
}

#timnguoidung {
  padding: 8px;
  margin-left: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}


#timnguoidung:focus {
  outline: none;
  border-color: #3498db;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}


#timnguoidung::placeholder {
  color: #aaa;
}


#timnguoidung[type="text"] {
  width: 200px;
}

.user .user-table {
  position: relative;
  background: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.details .recentOrders table tr td:last-child {
  text-align: center;
}

.pagination {
  padding: 10px;
  text-align: center;
  list-style: none;
  font-weight: lighter;
}

.pagination li {
  padding: 10px;
  display: inline-block;
  margin: 5px 3px;
  cursor: pointer;
}

.pagination .hientai {
  border-bottom: 3px solid rgb(0, 0, 0);
}

.pagination li:not(.hientai):hover {
  background-color: rgb(196, 195, 195);
  border-radius: 10px;
}

#xoanguoidung{
  padding: 4px;
  

  color: rgb(255, 0, 0);
  border-radius: 4px;


  cursor: pointer;
}
#suanguoidung{
  padding: 4px;
  

color: rgb(11, 190, 59);
border-radius: 4px;


cursor: pointer;
}

#basic {
  color: green;
}

#standard {
  color: blue;
}

#premium {
  color: red;
}

/* ================== Charts JS ============== */
.chartsBx {
  margin-left: 20px;
}

.chartsBx .chart {
  position: relative;
  background: #fff;
  margin-top: 20px;
  padding: 20px;
  width: 70%;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  border: 1px solid var(--blue);
}
.change_img img{
  width:auto;
}

.change_img{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.change_action{
display: flex;
}

.change_button{
width: 100px;
text-align: center;
padding: 4px 3px;
margin: 20px 10px 20px 0;
border: none;
border-radius: 3px;
background-color: #333;
  color: white;
cursor: pointer;
}

.change_button:hover{
background-color: #DCDCDC;
  color: #333;
}

.edit label {
display: inline-block;
width: 150px;
text-align: right;
font-size: 18px;
  margin:10px 0;
  font-weight: bold;
}
input[type="file"]{
	display: none;
}
.update{
  margin: 30px;
  margin-left: auto;
}
.update a{

	color: rgb(255, 255, 255);
	border: 2px solid #333;
  background-color: #333;
	width: 100px;
	padding: 5px 10px;
	border-radius: 4px;
	text-decoration: none;
	
	cursor: pointer;
}

.update a:hover{
	border: 1px solid #C92127;
	background-color: #C92127;
  color: #fff;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999; 
  display: none; 
}

.show-overlay {
  display: block; 
}
.no-scroll {
  overflow: hidden;
}
#timnguoidung1 {
  padding: 8px; 
  border: 1px solid #ccc; 
  border-radius: 5px;
  font-size: 16px; 
  color: #333; 
  margin-right: 25px;
  
}